extends layout_web
block title 
    title Dinh cu Uc, USA | Call: (08) 6684 8953
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    meta()

block content 
    div#seo
        div.navbar-fixed
            nav(style="height:80px; padding-top:10px")#nav.z-depth-2
                div.nav-wrapper
                    a(style="font-size:180%; margin-left:20px").left Định cư, du học, du lịch AU, USA
                    //- menu ul in small device
                    ul(style="font-size:150%").right
                        li
                            a(href="https://www.facebook.com/tuvandinhcuduhoc/?fref=ts").fa.fa-facebook-square.social1
                        //- li
                        //-     a().fa.fa-google.social2
                        //- li
                        //-     a().fa.fa-twitter.social3
                        //- li
                        //-     a().fa.fa-youtube.social4
                        li
                            a(href="mailto:lephanbaokhanh@gmail.com").fa.fa-envelope-o.social5    
        
        div(style="height:650px").parallax-container 
            div.parallax
                img(src="http://www.hdfinewallpapers.com/HDWallpapers/Big/Kangaroo/Many_Kangaroos_at_Sunset_Point_in_Australia_HD_Photo_Background.jpg" alt="Dinh cu Uc, USA")
            
            section(style="padding-top:40px; height:700px;")#one
                .container
                    h1.headline.white-text.center TƯ VẤN HỒ SƠ ÚC, USA TRỰC TIẾP 
                    .row 
                        .col.s12.m5 
                            .card-panel
                                h2 Thay đổi cuộc sống? 
                                p Không phải tất cả các hồ sơ đều đậu, nhưng chắc chắn anh chị sẽ nhận được sự chuẩn bị hồ sơ có trình tự, an toàn, và chi phí rẻ nhất và uy tín nhất.
                                p Anh chị sẽ gặp trực tiếp chúng tôi ngay sau cuộc gọi đầu tiên.  
                                //- .input-field
                                //-     input(type="email", placeholder="email@domain.com").white.grey-text
                                .input-field
                                    a(href="tel:0866848953").col.s12.m12.btn.main-color Call (08)6684 8953
                        .col.s12.m7
                            //- div(style="padding:2px;").card-panel
                            div(style="margin-top:8px; height:306px").video-container
                                iframe(src="https://www.youtube.com/embed/Vgj70MSUFho?rel=0")
                    
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center Hơn 90% hồ sơ đã "passed" trong suốt 10 năm qua
                
        section#two
            .container  
                div.slider1
                    div.slide 
                        img(src="http://www.cruisetimetables.com/pictures/moreton-island-australia.jpg" title="Nuoc Uc hien dai" alt="Dinh cu Uc, USA")
                    div.slide 
                        img(src="http://www.xmltravel.com/content/resort/myt/australia10" title="Nuoc Uc an toan" alt="Dinh cu Uc, USA")
                    div.slide 
                        img(src="http://www.minutemanpress.com.au/_gfx/contact/au.jpg" title="Nuoc Uc xinh dep" alt="Dinh cu Uc, USA")
                    div.slide 
                        img(src="http://www.cruisetimetables.com/pictures/sydney-australia-cruise-port.jpg" title="Nuoc Uc tiem nang" alt="Dinh cu Uc, USA")

                div(style="margin-bottom:40px;").divider
        section#benefit
            .container
                .row.center 
                    .col.s12.m4
                        h3.icons.main-color-text 
                            i.fa.fa-globe.benefitIcon1
                        p
                            | Chúng tôi có đối tác tốt tại các bang nhiều người Việt ở Úc   
                    .col.s12.m4
                        h3.icons.main-color-text 
                            i.fa.fa-briefcase.benefitIcon2
                        p
                            | Chúng tôi chuẩn bị hồ sơ rõ ràng, chu đáo, tận tâm và uy tín  
                    .col.s12.m4
                        h3.icons.main-color-text
                            i.fa.fa-thumbs-up.benefitIcon3
                        p
                            | Khách hàng luôn hài lòng vì được hướng dẫn tận tình, chi tiết và kịp thời  
                div(style="margin-bottom:40px;").divider
        section#testi
            .container
                .row 
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="https://s3-media1.fl.yelpcdn.com/bphoto/GsUsM8fDPJ0uG7toegG1KQ/ls.jpg" alt="Dinh cu Uc, USA").responsive-img
                            .col.s12.m6 
                                h4 Con bạn ở tuổi 9-25?
                                p
                                    | Chúng tôi tư vấn trường học và trình bày hồ sơ cho người giám hộ. Chúng tôi chuẩn bị kỹ càng về quá trình học, sự đảm bảo của người đi cùng sao cho hồ sơ hoàn thiện nhất
         
                    .col.s12.m6 
                        .row 
                            .col.s12.m6
                                img(src="https://www.italianlakeswedding.com/blog/wp-content/uploads/2015/02/italian-wedding-planners-association-of-Australia-250x250.jpg" alt="Dinh cu Uc, USA").responsive-img
                            .col.s12.m6 
                                h4  Hôn phu của bạn ở Úc?
                                p
                                    | Chúng tôi tư vấn bổ sung các thủ tục giấy tờ về hôn nhân, tường trình về quá trình tìm hiểu và sự chuẩn mực trong quan hệ hai bên từ lúc bắt đầu đến khi có quyết định kết hợp tại Úc 
        .divider
        section(style="margin-bottom:-20px")#subcribe.grey.lighten-3
            .container 
                .row 
                    //- Load Facebook SDK for JavaScript
                    div(id="fb-root")
                        //- Your embedded comments code
                        div(class="fb-comments" data-href="https://www.facebook.com/tuvandinhcuduhoc/?fref=nf" data-width="800" data-numposts="10")

                //- .row
                //-     .col.s12.m4
                //-         h5(style="margin-top:25px;").main-color-text.right Email to subcribe 
                //-     .col.s12.m6
                //-         .input-field 
                //-             input(style="font-size:160%", type="email").white.grey-text
                //-     .col.s12.m2
                //-         .input-field 
                //-             a(style="margin-top:5px;").btn.main-color Subcribe
        
        section(style="height:300px; margin-bottom:-20px").parallax-container 
                div.parallax
                    img(src="/img/cchoabinh.jpg" alt="Dinh cu Uc, USA")

        //- section(style="height:270px; width:100%;background-repeat: no-repeat; margin-bottom:-20px; background:url(/img/cchoabinh.jpg)")
            
        footer.page-footer.grey.darken-3
            .row
                .col.m5.s12.white-text
                    h5 Contact Us 
                    p Công ty Minh Vũ đã đăng ký với Lãnh Sự Úc tại TPHCM
                    p Hãy liên hệ để được tư vấn trực tiếp 1-1
                    ul.vcard
                        li.fn Minh Vu Co.Ltd, 
                        li.org Liên hệ Ms.Bảo Khánh 
                        li.tel (08) 6684 8953
                        li
                            | Email: 
                            a(href="mailto:lephanbaokhanh@gmail.com").email lephanbaokhanh@gmail.com | 
                            a(href="mailto:dinhcu.top@gmail.com").email dinhcu.top@gmail.com 
                        li
                            | Website: 
                            a(href="/").url www.dinhcu.top
                .col.m3.s12
                    h5.white-text Tham khảo  
                    ul
                        li
                            a(href='http://hcmc.vietnam.embassy.gov.au/hchivietnamese/home.html') Lãnh sự quán Úc TPHCM 
                        li
                            a(href='http://hcmc.vietnam.embassy.gov.au/hchivietnamese/visiting_australia.html') Du lịch Úc
                        li
                            a(href='http://hcmc.vietnam.embassy.gov.au/hchivietnamese/duhoc.html') Du học Úc
                    .divider
                    h5.white-text Liên kết cộng tác
                    ul
                        li
                            a(href='http://teamshow.vn') Đối tác Branding 
                        li
                            a(href='http://www.openmize.com') Đối tác sales
                        li
                            a(href='http://www.viennguyen.com') Đối tác công nghệ
                        li
                            a(href='http://www.bestwebdesign.top') Đối tác thực hiện website 
                        li
                            a(href='http://www.tanyoli.vn') Đối tác du lịch nội địa 

                .col.m4.s12
                    //- h5.white-text Social
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/tuvandinhcuduhoc/?fref=ts&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1014333618610128" width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            .footer-copyright.grey.darken-4
                .container
                    | &copy; 2014 Copyright Text
                    a.grey-text.text-lighten-4.right(href='#!') More Links
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


                                


    
    
