extends layout_web
block title 
    title Teamshow | Strategy game
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    meta(name="keywords", content="Dinh cu Uc, du hoc Uc")
    meta(name="description", content="Dinh cu Uc, du hoc Uc, Du lich Uc, Dinh cu USA, du hoc USA, du lich USA, tu van dinh cu Uc, tu van du hoc Uc")

block content 
    div#seo
        div.navbar-fixed
            nav(style="height:80px; padding-top:10px")#nav.z-depth-2
                div.nav-wrapper
                    a(style="font-size:180%; margin-left:20px").left Teamshow
                    //- menu ul in small device
                    ul(style="font-size:150%").right
                        li
                            a(href="https://www.facebook.com/strategyTeamShow").fa.fa-facebook-square.social1
                        li
                            a().fa.fa-google.social2
                        li
                            a().fa.fa-twitter.social3
                        li
                            a(href="https://www.youtube.com/channel/UCcRS4OmkuhbEtTh7WuFq60Q").fa.fa-youtube.social4
                        li
                            a(href="mailto:teamshow.vn@gmail.com").fa.fa-envelope-o.social5    
        
        div(style="height:650px").parallax-container 
            div.parallax
                img(src="http://strategyteamshow.com/upload/images/ban-co-teamshow-bang-nhua.jpg" alt="Teamshow")
            
            section(style="padding-top:40px; height:700px;")#one
                .container
                    h1.headline.white-text.center Teamshow | Rèn luyện tư duy
                    h2.center.white-text Một game tư duy hấp dẫn đột phá xuất hiện tạo sân chơi cho doanh nghiệp, thanh niên, gia đình, và trẻ em...  
                    .row 
                        .col.s12.m5 
                            .card-panel
                                h2 Hãy rèn luyện mỗi ngày...  
                                p Teamshow vận dụng lý thuyết trò chơi, kỹ thuật phối hợp nhóm và kỹ năng leadership 
                                p Thật ngạc nhiên là chỉ cần đi vài nước cờ, bạn có thể khám phá các kỹ năng tiềm ẩn của mình... 
                                p Nhưng Teamshow còn nhiều khả năng ứng dụng "không thể tin nổi", mang giá trị cho phát triển văn hóa doanh nghiệp, kích hoạt thương hiệu, sinh viên cần việc làm, team building... 
                                //- .input-field
                                //-     input(type="email", placeholder="email@domain.com").white.grey-text
                                .input-field
                                    a(href="/game").col.s12.m12.btn.main-color Chơi ngay
                        .col.s12.m7
                            //- div(style="padding:2px;").card-panel
                            div(style="margin-top:8px; height:306px").video-container
                                iframe(src="https://www.youtube.com/embed/OuFpoLZBh0k")
                    
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center.main-color-text Hơn 100.000+ lượt người chơi đã tham gia rèn luyện Teamshow tại Cần Thơ, Đồng Nai, TP.HCM, Ninh Thuận... 
                
        section#two
            .container  
                div.slider1
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/quay-phim-demo-cho-teamshow.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Saigon" alt="Teamshow")
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/giai-thi-dau-teamshow-dong-nai.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Dongnai" alt="Teamshow")
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/giai-thi-dau-teamshow-can-tho.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Can Tho" alt="Teamshow")
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/giai-dua-xe-dia-hinh-tanyoli-cup.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Ninh Thuan" alt="Teamshow")

        
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center.main-color-text Cùng một cấu trúc game, bạn có thể chơi trong mọi phạm vi 

        section#benefit
            .container
                .row.center 
                    .col.s12.m4.card-panel
                        h3.icons.main-color-text 
                            i.fa.fa-child.benefitIcon1
                        h4 Family Teamshow
                        p.left-align
                            | Cả nhà quây quần bên bàn cờ Teamshow, cha mẹ và con cái đều "đánh cờ" được, mỗi nước cờ là một bài học thú vị cho con...   
                    .col.s12.m4.card-panel.grey.lighten-4
                        h3.icons.main-color-text 
                            i.fa.fa-building.benefitIcon1
                        h4 Teamshow Indoor
                        p.left-align
                            | Một không gian phòng dành cho trận đấu Teamshow hào hứng, các đội chơi lần lượt vượt qua thử thách kiến thức của BTC...
                    .col.s12.m4.card-panel
                        h3.icons.main-color-text 
                            i.fa.fa-meh-o.benefitIcon1
                        h4 Teamshow Me
                        p.left-align
                            | Một mình 1 máy tính hoặc thiết bị di động, bạn vẫn có thể khám phá kỹ năng bản thân và tìm thấy các cơ hội nghề nghiệp tuyệt vời ...
                
                div(style="margin-top:-20px").row.center 
                    .col.s12.m4.card-panel
                        h3.icons.main-color-text 
                            i.fa.fa-globe.benefitIcon1
                        h4 Teamshow Online
                        p.left-align
                            | Đôi khi không nhất thiết phải tư duy để chiến thắng trí tuệ nhân tạo của máy tính, chúng ta chơi game online để thắng những phần quà tài trợ hấp dẫn.....   
                    .col.s12.m4.card-panel.grey.lighten-4
                        h3.icons.main-color-text 
                            i.fa.fa-skyatlas.benefitIcon1
                        h4 Teamshow Outdoor
                        p.left-align
                            | Các đội team building phải vận dụng mọi kỹ năng về thể chất để đạt được số điểm cao nhất, một "trò chơi mật thư" ở cấp độ thực hành cao nhất..
                    .col.s12.m4.card-panel
                        h3.icons.main-color-text 
                            i.fa.fa-car.benefitIcon1
                        h4 Teamshow Adventure
                        p.left-align
                            | Đua xe Rally? Caravan? Phượt có tổ chức? Teamshow là một cấu trúc cho các giải đấu lớn trên mọi nẻo đường mạo hiểm...
        
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center.main-color-text Dù bạn là ai, hãy bắt đầu là Teamshower ngay hôm nay! 
        section
            .container 
                .row.col.s12.m12.card-panel
                    ul.tabs
                        li.tab.col.s3
                            a(href="#01") Sinh viên
                        li.tab.col.s3
                            a(href="#02") Cha mẹ
                        li.tab.col.s3
                            a(href="#03") Nhân viên
                        li.tab.col.s3
                            a(href="#04") Team Building
                        li.tab.col.s3
                            a(href="#05") Doanh nghiệp  
                    .divider
                    div(id="01").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/nO4hLUxyBt8")
                            .col.s12.m7
                                h3 Bạn là sinh viên?
                                ul 
                                    li
                                        i.fa.fa-graduation-cap.right10 
                                        a(href="") Hãy chơi ngay Teamshow Online rèn kỹ năng và trúng thưởng
                                    li
                                        i.fa.fa-graduation-cap.right10
                                        a(href="") Hãy tham gia chương trình "Cafe offline" hàng tuần
                                    li
                                        i.fa.fa-graduation-cap.right10
                                        a(href="") Hãy đăng ký thành viên , mua bộ KIT để được training và trao ngay cơ hội việc làm
                                    li
                                        i.fa.fa-graduation-cap.right10
                                        a(href="") Hãy đi du lịch thể thao mạo hiểm cùng Teamshow tại căn cứ huấn luyện Đồng Nai, Lâm Đồng, Ninh Thuận... 
                                        
                    div(id="02").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/4HtUEiBnSKU")
                            .col.s12.m7
                                h3 Bạn là cha mẹ?
                                ul 
                                    li
                                        i.fa.fa-child.right10 
                                        a(href="") Hãy mua cờ và chơi mà học với các con... 
                                    li
                                        i.fa.fa-child.right10
                                        a(href="") Hãy nghiên cứu Teamshow cho công việc của mình
                                    li
                                        i.fa.fa-child.right10
                                        a(href="") Hãy đi du lịch Pinic cùng Teamshow tại Đồng Nai, Lâm Đồng, Ninh Thuận...
                    div(id="03").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/4HtUEiBnSKU")
                            .col.s12.m7
                                h3 Bạn là nhân viên văn phòng?
                                ul 
                                    li
                                        i.fa.fa-building.right10 
                                        a(href="") Hãy đăng ký Teamshow Online và săn phần thưởng 
                                    li
                                        i.fa.fa-building.right10
                                        a(href="") Hãy mang Teamshow vào Happy Hour công ty mình 
                                    li
                                        i.fa.fa-building.right10
                                        a(href="") Hãy du lịch thể thao cùng Teamshow tại Đồng Nai, Lâm Đồng, Ninh Thuận... 
                    div(id="04").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/lxlCSpmzDC8")
                            .col.s12.m7
                                h3 Bạn tổ chức cho công ty, đội nhóm?
                                ul 
                                    li
                                        i.fa.fa-skyatlas.right10 
                                        a(href="") Hãy quên đi các trò chơi lặp đi lặp lại, thay bằng Teamshow Outdoor không tốn nhiều dụng cụ   
                                    li
                                        i.fa.fa-skyatlas.right10
                                        a(href="") Hãy tổ chức giải đấu đột phá có hệ thống tính điểm khoa học, kể cả... đua xe! 
                                    li
                                        i.fa.fa-skyatlas.right10
                                        a(href="") Hãy xây dựng chương trình team building đa dạng tại nhiều căn cứ của Teamshow Đồng Nai, Lâm Đồng, Ninh Thuận... 
                                    li
                                        i.fa.fa-skyatlas.right10
                                        a(href="") Hãy tổ chức TOUR! Why not?
                    div(id="05").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/HPX3iXzSzoQ")
                            .col.s12.m7
                                h3 Dịch vụ cho doanh nghiệp
                                ul 
                                    li
                                        i.fa.fa-briefcase.right10 
                                        a(href="") Hãy kích hoạt thương hiệu với số đông Teamshower bằng dịch vụ event, studio của Teamshow   
                                    li
                                        i.fa.fa-briefcase.right10
                                        a(href="") Hãy tham gia huấn luyện đào tạo THỰC HÀNH lý thuyết leadership cùng Teamshow, thông qua trò chơi hoặc huấn luyện thể chất tại căn cứ của Teamshow
                                    li
                                        i.fa.fa-briefcase.right10
                                        a(href="") Hãy tổ chức giải Teamshwo Corp. hàng tháng với hệ thống tính điểm khoa học, và trận CHUNG KẾT tại Teamshow Outdoor. Why not? 

        div(style="margin-top:40px").divider
        section().white
            .container
                .row
                    .col.s12.m8 
                        h2.right Email:  
                            span.main-color-text teamshow.vn@gmail.com 
                            | hoặc làm thành viên    
                    .col.s12.m4
                        .input-field
                            a(href="/signup", style="margin-top:5px;").btn.main-color Đăng ký

        .container 
            .row 
                h2.ads.center Partner với Teamshow cùng những lợi ích không thể bỏ qua... 
        section#testi
                .row 
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="http://hanoimoi.com.vn/Uploads/chiennv/2012/10/29/dhocsing1.jpg" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4 Chương trình Teamshow Inside 
                                .divider
                                p
                                    | Tổ chức sự kiện offline tại các cafe đăng ký. Bạn có thể là người dẫn chương trình và cơ hội trở thành Event Organizer với Teamshow 
                                p Chương trình dành cho các bạn trẻ có thời gian ngoài giờ và sinh viên thích nghề MC
         
                    .col.s12.m6 
                        .row 
                            .col.s12.m6
                                img(src="http://www.hivery.com/wp-content/uploads/2015/02/startUpSmart.png" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4  Startup ! Cộng tác viên Freelancer
                                .divider
                                p
                                    | Bạn đã có kinh nghiệm tổ chức event hoặc tour teambuilding nhưng cần sự tươi mới, hấp dẫn, mạo hiểm? 
                                p Teamshow Adventure sẽ cung cấp chương trình cho bạn, kể cả bạn muốn khởi nghiệp cùng Teamshow  
                .row 
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQCLymhfYxh-NonyiTwK_DSr5XT-uLmUGSwJOFU3_Ltg23eFASx7w" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4  Tài trợ Teamshow Sponsor
                                .divider
                                p  Bạn muốn kích hoạt thương hiệu? 
                                p Hãy liên hệ Teamshow. Bạn có thể "mua trước" 10-20-100 chương trình Teamshow offline diễn ra. Nội dung event sẽ xoay quanh công ty bạn  
                                P Ngoài ra, bạn có thể đặt banner online và mọi người chơi đều thấy thương hiệu, trả lời câu hỏi về thương hiệu của bạn... khách hàng có sẵn!
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="https://engonetrca2.blob.core.windows.net/assets/uploads/img/en-solutions-feature-partners-overview350x250.png" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4  Kinh doanh cùng Teamshow
                                .divider
                                p  Bạn muốn kinh doanh? 
                                p Hãy tham gia các sự kiện online, offline và đưa sản phẩm vào các chương trình. 
                                P Bạn có thể kêu gọii nguồn tài trợ và tổ chức sự kiện cho Teamshow  
                                P Teamshow sẽ huấn luyện bạn thành chuyên nghiệp bằng các khóa Marketing online, công cụ online, bộ KIT sale và ... khách hàng có sẵn!
        .divider
        //- section()#subcribe
        //-     .container 
        //-         .row 
        //-             .card-panel
        //-                 //- Load Facebook SDK for JavaScript
        //-                 div(id="fb-root")
        //-                     //- Your embedded comments code
        //-                     div(class="fb-comments", style="height:1000px;", data-href="https://www.facebook.com/strategyTeamShow/" data-width="800" data-numposts="10")
        
        
        section(style="height:300px; margin-bottom:-20px").parallax-container 
                div.parallax
                    img(src="/img/cchoabinh.jpg" alt="Teamshow")

        footer.page-footer.grey.darken-3
            .row
                .col.m5.s12.white-text
                    h5 Contact Us 
                    p Teamshow đã đăng ký quyền bảo hộ thương hiệu và sản phẩm 
                    p Hãy liên hệ để được thông tin cụ thể 
                    ul.vcard
                        li.fn Teamshow 
                        li.org Liên hệ Mr.Hân (tác giả) , Mr.Vũ (CEO)
                        li.tel Mr. Hân (0969 879 399), Mr. Vũ (0937 980 003)
                        li
                            | Email: 
                            a(href="mailto:teamshow.vn@gmail.com").email teamshow.vn@gmail.com 
                        li
                            | Website: 
                            a(href="/").url www.teamshow.vn
                            
                    .divider
                    //- fb like
                    div(style="color:#fff; padding-top:10px" class="fb-like" data-href="https://www.facebook.com/tuvandinhcuduhoc/?fref=ts" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true")

                .col.m3.s12
                    h5.white-text Websites  
                    ul
                        li
                            a(href='http://teamshow.vn') Teamshow.vn 
                        li
                            a(href='http://strategyteamshow.com') StrategyTeamshow.com 
                        li
                            a(href='http://strategybizshow.com') StrategyBizshow.com
                        li
                            a(href='http://strategygameshow.com') StrategyGameshow.com 
                        li
                            a(href='http://muidinh.club') MuiDinh.club 
                    .divider
                    h5.white-text Liên kết cộng tác
                    ul
                        li
                            a(href='http://muidinh.club') Mui Dinh Club 
                        li
                            a(href='http://www.openmize.com') Đối tác sales
                        li
                            a(href='http://www.viennguyen.com') Đối tác công nghệ
                        li
                            a(href='http://www.bestwebdesign.top') Đối tác thực hiện website 
                        li
                            a(href='http://www.tanyoli.vn') Đối tác du lịch nội địa 

                .col.m4.s12
                    //- Facebook

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/strategyTeamShow/&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1014333618610128" width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    
                    //- Twitter
                    //- a(class="twitter-timeline"  href="https://twitter.com/hashtag/dinhcuduhoc" data-widget-id="763968988372054018") #dinhcuduhoc Tweets

          
            .footer-copyright.grey.darken-4
                .container
                    | &copy; 2014 Teamshow.vn
                    a.grey-text.text-lighten-4.right(href='http://www.bestwebdesign.top') Designed by BestWebdesign.top 
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          


                                


    
    
