extends layout_web
block title 
    title Teamshow | Strategy game
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    meta(name="keywords", content="Dinh cu Uc, du hoc Uc")
    meta(name="description", content="Dinh cu Uc, du hoc Uc, Du lich Uc, Dinh cu USA, du hoc USA, du lich USA, tu van dinh cu Uc, tu van du hoc Uc")

block content 
    div#seo
        div.navbar-fixed
            nav(style="height:80px; padding-top:10px")#nav.z-depth-2
                div.nav-wrapper
                    a(href)
                        img(style="margin-top:-30px", src="/img/logo.png" width="20%").responsive-img.left
                    //- menu ul in small device
                    ul(style="font-size:150%").right
                        li
                            a(href="https://www.facebook.com/strategyTeamShow").fa.fa-facebook-square.social1
                        li
                            a(href="https://plus.google.com/117051781590363024835").fa.fa-google.social2
                        li
                            a().fa.fa-twitter.social3
                        li
                            a(href="https://www.youtube.com/channel/UCcRS4OmkuhbEtTh7WuFq60Q").fa.fa-youtube.social4
                        li
                            a(href="mailto:teamshow.vn@gmail.com").fa.fa-envelope-o.social5    
        
        div(style="height:650px").parallax-container 
            div.parallax
                img(src="http://strategyteamshow.com/upload/images/ban-co-teamshow-bang-nhua.jpg" alt="Teamshow")
            
            section(style="padding-top:40px; height:700px;")#one
                .container
                    h1.headline.white-text.center Teamshow | Rèn luyện tư duy
                    h2.center.white-text Một game tư duy hấp dẫn đột phá xuất hiện tạo sân chơi cho doanh nghiệp, thanh niên, gia đình, và trẻ em...  
                    .row 
                        .col.s12.m5 
                            .card-panel.hoverable
                                h2.black-text Hãy rèn luyện mỗi ngày...  
                                p Teamshow vận dụng lý thuyết trò chơi, kỹ thuật phối hợp nhóm và kỹ năng leadership 
                                
                                p Teamshow còn nhiều khả năng ứng dụng "không thể tin nổi", mang giá trị cho phát triển văn hóa doanh nghiệp, kích hoạt thương hiệu, sinh viên cần việc làm, team building... 
                                //- .input-field
                                //-     input(type="email", placeholder="email@domain.com").white.grey-text
                                .input-field
                                    a(href="/game").col.s12.m12.btn.main-color Chơi ngay
                        .col.s12.m7
                            //- div(style="padding:2px;").card-panel
                            div(style="margin-top:8px; height:306px").video-container
                                iframe(src="https://www.youtube.com/embed/OuFpoLZBh0k")
                    
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center.main-color-text Hơn 100.000+ lượt người chơi đã tham gia rèn luyện Teamshow tại Cần Thơ, Đồng Nai, TP.HCM, Ninh Thuận... 
                
        section#two
            .container  
                div.slider1
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/quay-phim-demo-cho-teamshow.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Saigon" alt="Teamshow")
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/giai-thi-dau-teamshow-dong-nai.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Dongnai" alt="Teamshow")
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/giai-thi-dau-teamshow-can-tho.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Can Tho" alt="Teamshow")
                    div.slide 
                        img(src="http://strategyteamshow.com/timthumb.php?src=upload/images/giai-dua-xe-dia-hinh-tanyoli-cup.jpg&w=360&h=288&zc=1&a=tc" title="Teamshow Ninh Thuan" alt="Teamshow")

        
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center.main-color-text Cùng một cấu trúc game, bạn có thể chơi trong mọi phạm vi 

        section#benefit
            .container
                .row.center 
                    .col.s12.m4.card-panel.hoverable
                        h3.icons.main-color-text 
                            i.fa.fa-child.benefitIcon1
                        h4.black-text Family Teamshow
                        p.left-align
                            | Cả nhà quây quần bên bàn cờ Teamshow, cha mẹ và con cái đều "đánh cờ" được, mỗi nước cờ là một bài học thú vị cho con... 
                            a(href) Xem thêm 
                    .col.s12.m4.card-panel.grey.lighten-4.hoverable
                        h3.icons.main-color-text 
                            i.fa.fa-building.benefitIcon1
                        h4.black-text Teamshow Indoor
                        p.left-align
                            | Một không gian phòng dành cho trận đấu Teamshow hào hứng, các đội chơi lần lượt vượt qua thử thách kiến thức của BTC... 
                            a(href) Xem thêm
                    .col.s12.m4.card-panel.hoverable
                        h3.icons.main-color-text 
                            i.fa.fa-meh-o.benefitIcon1
                        h4.black-text Teamshow Me
                        p.left-align
                            | Một mình 1 máy tính hoặc thiết bị di động, bạn vẫn có thể khám phá kỹ năng bản thân và tìm thấy các cơ hội nghề nghiệp tuyệt vời... 
                            a(href) Xem thêm
                div(style="margin-top:-20px").row.center 
                    .col.s12.m4.card-panel.hoverable
                        h3.icons.main-color-text 
                            i.fa.fa-globe.benefitIcon1
                        h4.black-text Teamshow Online
                        p.left-align
                            | Đôi khi không nhất thiết phải tư duy để chiến thắng trí tuệ nhân tạo của máy tính, chúng ta chơi online giành những phần quà tài trợ hấp dẫn... 
                            a(href) Xem thêm
                    .col.s12.m4.card-panel.grey.lighten-4.hoverable
                        h3.icons.main-color-text 
                            i.fa.fa-skyatlas.benefitIcon1
                        h4.black-text Teamshow Outdoor
                        p.left-align
                            | Các đội team building phải vận dụng mọi kỹ năng về thể chất để đạt được số điểm cao nhất, một "trò chơi mật thư" ở cấp độ thực hành cao nhất... 
                            a(href) Xem thêm
                    .col.s12.m4.card-panel.hoverable
                        h3.icons.main-color-text 
                            i.fa.fa-car.benefitIcon1
                        h4.black-text Teamshow Adventure
                        p.left-align
                            | Đua xe Rally? Caravan? Phượt có tổ chức? Teamshow là một cấu trúc cho các giải đấu lớn trên mọi nẻo đường du lịch thể thao mạo hiểm... 
                            a(href) Xem thêm
        
        .container 
            div(style="margin-bottom:40px;").divider
            .row 
                h2.ads.center.main-color-text Dù bạn là ai, hãy trở thành Teamshow-er ngay hôm nay! 
        section
            .container 
                .row.col.s12.m12.card-panel
                    ul.tabs
                        li.tab.col.s3
                            a(href="#01") Sinh viên
                        li.tab.col.s3
                            a(href="#02") Cha mẹ
                        li.tab.col.s3
                            a(href="#03") Nhân viên
                        li.tab.col.s3
                            a(href="#04") Team Building
                        li.tab.col.s3
                            a(href="#05") Doanh nghiệp  
                    .divider
                    div(id="01").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/nO4hLUxyBt8")
                            .col.s12.m7
                                h3 Bạn là sinh viên?
                                ul 
                                    li
                                        i.fa.fa-graduation-cap.right10 
                                        a(href="") Hãy chơi ngay Teamshow Online rèn kỹ năng và trúng thưởng
                                    li
                                        i.fa.fa-graduation-cap.right10
                                        a(href="") Hãy tham gia chương trình "Cafe offline" hàng tuần
                                    li
                                        i.fa.fa-graduation-cap.right10
                                        a(href="") Hãy đăng ký thành viên , mua bộ KIT để được training và trao ngay cơ hội việc làm
                                    li
                                        i.fa.fa-graduation-cap.right10
                                        a(href="") Hãy đi du lịch thể thao mạo hiểm cùng Teamshow tại căn cứ huấn luyện Đồng Nai, Lâm Đồng, Ninh Thuận... 
                                        
                    div(id="02").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/4HtUEiBnSKU")
                            .col.s12.m7
                                h3 Bạn là cha mẹ?
                                ul 
                                    li
                                        i.fa.fa-child.right10 
                                        a(href="") Hãy mua cờ và chơi mà học với các con... 
                                    li
                                        i.fa.fa-child.right10
                                        a(href="") Hãy nghiên cứu Teamshow cho công việc của mình
                                    li
                                        i.fa.fa-child.right10
                                        a(href="") Hãy đi du lịch Pinic cùng Teamshow tại Đồng Nai, Lâm Đồng, Ninh Thuận...
                    div(id="03").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/4HtUEiBnSKU")
                            .col.s12.m7
                                h3 Bạn là nhân viên văn phòng?
                                ul 
                                    li
                                        i.fa.fa-building.right10 
                                        a(href="") Hãy đăng ký Teamshow Online và săn phần thưởng 
                                    li
                                        i.fa.fa-building.right10
                                        a(href="") Hãy mang Teamshow vào Happy Hour công ty mình 
                                    li
                                        i.fa.fa-building.right10
                                        a(href="") Hãy du lịch thể thao cùng Teamshow tại Đồng Nai, Lâm Đồng, Ninh Thuận... 
                    div(id="04").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/lxlCSpmzDC8")
                            .col.s12.m7
                                h3 Bạn tổ chức cho công ty, đội nhóm?
                                ul 
                                    li
                                        i.fa.fa-skyatlas.right10 
                                        a(href="") Hãy quên đi các trò chơi lặp đi lặp lại, thay bằng Teamshow Outdoor không tốn nhiều dụng cụ   
                                    li
                                        i.fa.fa-skyatlas.right10
                                        a(href="") Hãy tổ chức giải đấu đột phá có hệ thống tính điểm khoa học, kể cả... đua xe! 
                                    li
                                        i.fa.fa-skyatlas.right10
                                        a(href="") Hãy xây dựng chương trình team building đa dạng tại nhiều căn cứ của Teamshow Đồng Nai, Lâm Đồng, Ninh Thuận... 
                                    li
                                        i.fa.fa-skyatlas.right10
                                        a(href="") Hãy tổ chức TOUR! Why not?
                    div(id="05").col.s12.m12
                        .row
                            .col.s12.m5
                                div(style="margin-top:10px;").video-container
                                    iframe(src="https://www.youtube.com/embed/HPX3iXzSzoQ")
                            .col.s12.m7
                                h3 Dịch vụ cho doanh nghiệp
                                ul 
                                    li
                                        i.fa.fa-briefcase.right10 
                                        a(href="") Hãy kích hoạt thương hiệu với số đông Teamshower bằng dịch vụ event, studio của Teamshow   
                                    li
                                        i.fa.fa-briefcase.right10
                                        a(href="") Hãy tham gia huấn luyện đào tạo THỰC HÀNH lý thuyết leadership cùng Teamshow, thông qua trò chơi hoặc huấn luyện thể chất tại căn cứ của Teamshow
                                    li
                                        i.fa.fa-briefcase.right10
                                        a(href="") Hãy tổ chức giải Teamshow Indoor hàng tháng với hệ thống tính điểm khoa học, và trận CHUNG KẾT tại Teamshow Outdoor. Why not? 

        div(style="margin-top:40px").divider
        section().orange.lighten-4
            .container-fluid
                .row
                    .col.s12.m9
                        h2.right EMAIL:   
                            span.main-color-text teamshow.vn@gmail.com 
                            | HOẶC THAM GIA THÀNH VIÊN 
                    .col.s12.m3
                        .input-field
                            a(href="/signup", style="margin-top:2px;").btn.main-color Đăng ký

        div(style="margin-top:80px")
        .container 
            .row 
                h2.ads.main-color-text.center Partner với Teamshow cùng những lợi ích không thể bỏ qua... 
        section#testi
                .row 
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="http://www.cornellcollege.edu/rise-up/images/Rise%20Up%20Jump%20Picture.jpg" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4.black-text Chương trình Teamshow Inside 
                                .divider
                                p
                                    | Tổ chức sự kiện offline tại các cafe đăng ký. Bạn có thể là người dẫn chương trình và cơ hội trở thành Event Organizer 
                                p Chương trình dành cho các bạn trẻ có thời gian ngoài giờ và sinh viên thích nghề MC... 
                                a(href) Xem thêm
         
                    .col.s12.m6 
                        .row 
                            .col.s12.m6
                                img(src="http://www.nursing.upenn.edu/innovation/health-technology-lab/PublishingImages/00-News_FeatureBanner_110915_702_336_--250x350.jpg" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4.black-text  Startup ! Cộng tác viên Freelancer
                                .divider
                                p
                                    | Bạn đã có kinh nghiệm tổ chức event hoặc tour teambuilding nhưng cần sự tươi mới, hấp dẫn, mạo hiểm? 
                                p Teamshow Outdoor sẽ cung cấp chương trình cho bạn, kể cả bạn muốn khởi nghiệp cùng Teamshow... 
                                a(href) Xem thêm


                .row 
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="http://www.sydneyprops.com.au/media/catalog/category/brand-activation_2.jpg" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4.black-text  Tài trợ Teamshow Sponsor
                                .divider
                                p  Bạn muốn kích hoạt thương hiệu? 
                                p  Bạn hoàn toàn có thể "mua trước" 10-20-100 chương trình Teamshow offline diễn ra hàng tuần. Nội dung event sẽ xoay quanh công ty bạn  
                                P Ngoài ra, đặt banner online và mọi người chơi đều thấy thương hiệu, trả lời câu hỏi về thương hiệu của bạn... khách hàng có sẵn!... 
                                a(href) Xem thêm
                    .col.s12.m6
                        .row 
                            .col.s12.m6
                                img(src="https://bluffers.com/wp-content/uploads/2015/08/cover_business_3d_350px.jpg" alt="Teamshow").responsive-img
                            .col.s12.m6 
                                h4.black-text  Kinh doanh cùng Teamshow
                                .divider
                                p  Bạn muốn kinh doanh? 
                                p Hãy tham gia các sự kiện online, offline và đưa sản phẩm vào các chương trình. 
                                P Bạn có thể kêu gọi nguồn tài trợ và tổ chức sự kiện cho Teamshow  
                                P Teamshow sẽ huấn luyện bạn thành Sales chuyên nghiệp bằng các khóa Teamshow Digital Marketing, Teamshow online, bộ KIT và ... khách hàng có sẵn!... 
                                a(href) Xem thêm
        .divider
        //- section()#subcribe
        //-     .container 
        //-         .row 
        //-             .card-panel
        //-                 //- Load Facebook SDK for JavaScript
        //-                 div(id="fb-root")
        //-                     //- Your embedded comments code
        //-                     div(class="fb-comments", style="height:1000px;", data-href="https://www.facebook.com/strategyTeamShow/" data-width="800" data-numposts="10")
        
        section().orange.lighten-4
            .container-fluid
                .row
                    .col.s12.m8
                        h2.right Tặng bạn cẩm nang kinh doanh cùng Teamshow   
                    .col.s12.m4
                        .input-field
                            a(href="/signup?book=dowload", style="margin-top:2px;").btn.main-color Download

        div(style="margin-top:40px")
        section#two
            .container-fluid
                h2.ads.center.main-color-text Hãy xem khách hàng nói gì về Teamshow... 
                div.slider2
                    div.slide 
                        .video-container
                            iframe(src="https://www.youtube.com/embed/HjPWfoXM6ro")
                        p.center Ms.Nga (CEO) Công ty Thủy Sinh Lý Vũ
                    div.slide 
                        .video-container
                            iframe(src="https://www.youtube.com/embed/PdFOdGZt21Y")
                        p.center Mr.Cao Công Thành (CEO) Công ty Trí Phong
                    div.slide 
                        .video-container
                            iframe(src="https://www.youtube.com/embed/GfVqlLffURU")
                        p.center Mr.Lê Bảo Sơn (CEO) Công ty Nội thất Square
                    div.slide 
                        .video-container
                            iframe(src="https://www.youtube.com/embed/HX5qunjW7OY")
                        p.center Ms.Ruby Ngọc (CEO) Công ty ALT

        

        section(style="height:300px; margin-top:-20px;margin-bottom:-20px;").parallax-container 
                div.parallax
                    img(src="/img/address.jpg" alt="Teamshow")

        footer.page-footer.grey.darken-3.white-text
            .row
                .col.m3.s12.white-text
                    h5 Contact Us 
                    p Teamshow đã đăng ký quyền bảo hộ thương hiệu và sản phẩm 
                    p Hãy liên hệ để được thông tin cụ thể 
                    ul.vcard
                        li.fn Teamshow 
                        li.org Liên hệ Mr.Hân (Author) , Mr.Vũ (Leader)
                        li.tel Mr. Hân (0969 879 399), Mr. Vũ (0937 980 003)
                        li
                            | Email: 
                            a(href="mailto:teamshow.vn@gmail.com").email teamshow.vn@gmail.com 
                        li
                            | Website: 
                            a(href="/").url www.teamshow.vn
                            

                
                .col.m3.s12
                    h5.white-text Học thuật
                    p Teamshow được xây dựng như các bài thực hành từ các lý thuyết 
                    ul
                        li
                            a(href='http://strategyteamshow.com/chien-luoc/ly-thuyet-tro-choi/') Lý thuyết trò chơi 
                        li
                            a(href='http://strategyteamshow.com/chien-luoc/phoi-hop-dong-doi/') Phối hợp đồng đội 
                        li
                            a(href='http://strategyteamshow.com/chien-luoc/lien-minh-doi-tac/') Liên minh đối tác
                        li
                            a(href='http://strategyteamshow.com/chien-luoc/phuc-vu-khach-hang/') Phục vụ khách hàng 
                        li
                            a(href='http://strategyteamshow.com/') Quan hệ công chúng 
                    .divider 
                    h5.white-text Kỹ năng rèn luyện
                    p Teamshow mô phỏng môi trường thay đổi phức tạp nhằm rèn luyện:  
                    ul
                        li
                            a(href='http://strategyteamshow.com/ky-nang/nhan-thuc-moi-truong/') Nhận thức
                        li
                            a(href='http://strategyteamshow.com/ky-nang/meta-cam-thuc/') Cảm thức 
                        li
                            a(href='http://strategyteamshow.com/ky-nang/ke-hoach-chien-luoc/') Tư duy chiến lược
                        li
                            a(href='http://strategyteamshow.com/ky-nang/hanh-dong-huong-dich/') Hành động mục tiêu 
                .col.m2.s12
                    h5.white-text Websites  
                    ul
                        li
                            a(href='http://teamshow.vn') Teamshow.vn 
                        li
                            a(href='http://strategyteamshow.com') StrategyTeamshow.com
                        li
                            a(href='http://strategybizshow.com') StrategyBizshow.com
                        li
                            a(href='http://strategygameshow.com') StrategyGameshow.com
                        li
                            a(href) CLB thể thao mạo hiểm
                        li
                            a(href) Du lịch chủ động 
                        li
                            a(href) Huấn luyện đào tạo 
                        li
                            a(href) Kích hoạt thương hiệu  
                        li
                            a(href) Cộng đồng   
                .col.m4.s12
                    //- Facebook

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/strategyTeamShow/&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1014333618610128" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    
                    //- Twitter
                    //- a(class="twitter-timeline"  href="https://twitter.com/hashtag/dinhcuduhoc" data-widget-id="763968988372054018") #dinhcuduhoc Tweets

            .footer-copyright.grey.darken-2
                .container
                    | Liên kết:   
                    a(href='http://muidinh.club') Mui Dinh Club | 
                    a(href='http://www.openmize.com') Sales | 
                    a(href='http://www.viennguyen.com') Công nghệ | 
                    a(href='http://www.bestwebdesign.top') Web design |  
                    a(href='http://www.tanyoli.vn') Du lịch 
            .footer-copyright.grey.darken-4
                .container
                    | &copy; 2014 Teamshow.vn
                    a.grey-text.text-lighten-4.right(href='http://www.bestwebdesign.top') Designed by BestWebdesign.top 
    script.
        //- facebook js sdk
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        //- twitter js sdk
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          


                                


    
    
