extends layout 

block content 
h1 About 
h2 Model
p Users 
p List  
h2 Middleware
p Passportjs (localhost:8000/auth/facebook) 
h2 View 
p CRUD
p View as cards, Table 
p report
p csv 
h3 Log 
h4 brypt 
p http://stackoverflow.com/questions/31511724/application-failed-to-start-port-8080-not-available



