extends layout_game 

block title
    
block content
    <!-- side bar -->
    ul#sidebar.side-nav
        li#sidebar
            div(style="padding:10px;").valign-wrapper.orange
                img(class="valign", width="30%", src='/img/logo_white.png') 
                a(href="/profile").white-text
                    span Hi,Guest 
        
        li
            <!-- Switch -->
            .switch 
                | SOUND
                label.right 
                    | Off
                    input(type="checkbox", name="chkSound", id="chkSound")
                    span.lever 
                    | On
        li
            .switch 
                | CHALLENGE MODE
                label.right
                    | Off
                    input(type="checkbox", name="chkChallenge", id="chkChallenge")
                    span.lever 
                    | On 


    <!-- modal -->
    div#modal1.modal
        .modal-content
            h5.orange-text 
                i.fa.fa-gamepad.right10
                | Teamshow Guide
            .divider
            p  Your chess: A1, A2, A3, A4  
                span.indigo-text in purple
            p  Active chess (movable) has a bound circle 
                span.orange-text in orange 
            p  Manual move chess to active circle cell 
                span.grey.white-text in white 
                | to take any number position (1-9)
            p.orange-text  Player who take highest number in total is the winner
            p  Tips: Double click any PC chess (B,C,D) to place it randomly,  
                span.indigo-text but not yours (A)
            
            .divider
        .modal-footer
            a().modal-action.modal-close.btn.btnStart.orange Start New Game
    
    <!-- modal bottom -->
    div#modal-bottom.modal.bottom-sheet
        .modal-content
            h5.orange-text 
                i.fa.fa-gamepad.right10
                | Comments on the game
            p Please change game language on Setting
            .divider
            .comment
                p.time
                p.comment-text

            .divider

    .row
        .col.s12.m8
            canvas#canvas(width='660', height='630')
        .col.s12.m4
            .row
                //- h5.next.teal-text
                    //- a(href='#!', data-activates='button-collapse') Setting
                    //- span Next Chess
                //- h6.pos.orange-text Position
                .divider
                h5.orange-text 
                    i.fa.fa-trophy.right10
                    span Scores
                    
                    a(href,data-activates="sidebar").button-collapse.right.left10.indigo-text
                        i.fa.fa-cog
                    a(href).btnGuide.right.left10.indigo-text
                        i.fa.fa-question
                    a(href).btnComment.right.left10.orange-text
                        i.fa.fa-comment
                    a(href).btnGuide.right.indigo-text
                        i.fa.fa-play
                    
                ul.score.collapsible(data-collapsible='accordion')
                    li                        
                        h5.indigo-text.collapsible-header
                            i.fa.fa-gamepad
                            .A Player A (YOU)
                        .collapsible-body
                            ul.collection.indigo-text
                                li.collection-item.A1 Chess A1
                                li.collection-item.A2 Chess A2
                                li.collection-item.A3 Chess A3
                                li.collection-item.A4 Chess A4
                    li
                        h5.grey-text.collapsible-header
                            i.fa.fa-gamepad
                            .B Player B
                        .collapsible-body
                            ul.collection
                                li.collection-item.B1 Chess B1
                                li.collection-item.B2 Chess B2
                                li.collection-item.B3 Chess B3
                                li.collection-item.B4 Chess B4
                    li
                        h5.grey-text.collapsible-header
                            i.fa.fa-gamepad
                            .C Player C
                        .collapsible-body
                            ul.collection
                                li.collection-item.C1 Chess C1
                                li.collection-item.C2 Chess C2
                                li.collection-item.C3 Chess C3
                                li.collection-item.C4 Chess C4
                    li
                        h5.grey-text.collapsible-header
                            i.fa.fa-gamepad
                            .D Player D
                        .collapsible-body
                            ul.collection
                                li.collection-item.D1 Chess D1
                                li.collection-item.D2 Chess D2
                                li.collection-item.D3 Chess D3
                                li.collection-item.D4 Chess D4
                .row
                    a(href,).col.s12.m12.btn.btnSignup.orange Register to Win Bonus 
                .row 
                    h5.orange-text 
                        i.fa.fa-briefcase.right10
                        span Sponsors | Bonus everyday
                    p
                        | (Registered User): Take more numbers in same color to Win Bonus from our Sponsor. Please play in 
                        a(href,data-activates="sidebar").button-collapse Challenge Mode  
                    //- .carousel
                    //-     a.carousel-item(href='#one!')
                    //-         img(src='http://lorempixel.com/800/400/city/1')
                    //-     a.carousel-item(href='#two!')
                    //-         img(src='http://lorempixel.com/800/400/city/2')
                    //-     a.carousel-item(href='#three!')
                    //-         img(src='http://lorempixel.com/800/400/city/3')
                    //-     a.carousel-item(href='#four!')
                    //-         img(src='http://lorempixel.com/800/400/city/4')
                          
    script.
        //- https://github.com/mazong1123/fabric.ext
        var canvas = new fabric.CanvasEx('canvas', { selection: false });
            canvas.hoverCursor = 'pointer';
            // canvas.backgroundImage = 'http://...';
            // canvas.onFpsUpdate = function(){ /* ... */ };

            var ctx = canvas.getContext("2d"); //- to resize 
            var ANSWER = false;
            var ACTION = { 
                onReady:function(){
                    $('.button-collapse').show();
                    $(".button-collapse").sideNav();
                    
                    $('.collapsible').collapsible({
                      accordion : false 
                    });
                    $('.carousel').carousel({full_width: true});

                    //- $(".carousel").carousel({dist:-50});
                    $('.carousel').carousel('set', 4);

                    init();

                    //-- bind ACTION 
                    $(document).on('click', '.btnGuide', ACTION.btnGuide);
                    $(document).on('click', '.btnComment', ACTION.btnComment);
                    $(document).on('click', '.btnStart', ACTION.btnStart);
                    $(document).on('click', '.btnSignup', ACTION.btnSignup);
                    $(document).on('click', '#btnChoose', ACTION.btnChoose);
                    $(document).on('click', '#btnStop', ACTION.btnStop);
                    $(document).on('change', '#chkSound', ACTION.chkSound);
                    $(document).on('change', '#chkChallenge', ACTION.chkChallenge);

                }, 
                btnSignup: function(e){
                    e.preventDefault();
                    notie.input({
                        type: 'email',
                        placeholder: 'name@example.com',
                        prefilledValue: 'jane@doe.com'
                    }, 'Please enter your email:', 'Submit', 'Cancel', function(valueEntered) {
                        notie.alert(1, 'You entered: ' + valueEntered, 2);
                        //-ajax save 

                    }, function(valueEntered) {
                        notie.alert(3, 'You cancelled with this value: ' + valueEntered, 2)

                        //-any?     
                    })
                    
                },
                btnComment: function(e){
                    e.preventDefault();
                    $('#modal-bottom').openModal();
                },
                btnGuide: function(e){
                    e.preventDefault();
                    $('#modal1').openModal();
                },
                btnStart: function(e){
                    e.preventDefault(); 
                    //-- do sthing 
                    startGame();
                },
                btnChoose: function(e){
                    e.preventDefault(); 
                    //-- do sthing 
                    //- ANSWER = $('input[name="group1"]:checked').val(); //-- A or B 
                    //- log(ANSWER);
                },
                btnStop: function(e){
                    e.preventDefault(); 
                    //-- do sthing 
                    
                    clearInterval(_objectTimer);
                    clearInterval(_gameTimer);
                },
                chkSound: function(e){
                    e.preventDefault(); 
                    //-- do sthing 
                    if ($('#chkSound').prop('checked')==true)
                        CONFIG.sound = 1;    
                    else 
                        CONFIG.sound = 0;    
                },
                chkChallenge: function(e){
                    e.preventDefault(); 
                    //-- do sthing 
                    if ($('#chkChallenge').prop('checked')==true)
                        CONFIG.challenge = 1;
                    else 
                        CONFIG.challenge = 0;
                }
            }

            $( document ).ready( ACTION.onReady );
            //------------------------------
            function log(elem, msg){
                if (CONFIG.debug==1)
                    console.log(msg);

                if (elem!=""){
                    $(elem).html(msg);
                }

            }   
            function init(){
                var center = canvas.getCenter();
                canvas.setBackgroundImage('/teamshow/teamshow-logo.png',
                    canvas.renderAll.bind(canvas), {
                        opacity: 0.75,
                        scaleX:1.37,
                        scaleY:1.37,
                        top: center.top+4,
                        left: center.left-17,
                        originX: 'center',
                        originY: 'center'
                });
                
                // gridLine("#eee");
                line("orange");
                                
                buldBlock1();
                buldBlock2();
                buldBlock3();
                buldBlock4();

                chessA_StartPosition();
                chessB_StartPosition();
                chessC_StartPosition();
                chessD_StartPosition();

                $('#modal1').openModal();
                //- startGame();

            }

            canvas.on("object:selected", function(e){
                var obj = e.target; 
                var name = obj.name;
                // log(getValueByName(name) + " selected!") ;

                // enableCells();
                //- obj.set({
                //-     strokeWidth: 1,
                //- });

            });


            canvas.on("object:moving", function(e){
                removeObject("circleX");

                var obj = e.target; 
                var name = obj.name;

                canvas.bringToFront(obj);
                
            });

            canvas.on("object:modified", function(e){
                var chess = e.target;
                snapToGrid(chess);
                updateCells(chess, chess.left/grid, chess.top/grid);
                enableCells();

            });

            canvas.on('mouse:dblclick', function (e) {
                var obj = e.target;
                if (obj.name.indexOf("A")>=0){
                    notie.alert(1,'You must move your chess',1);
                    return; 
                }

                if (obj!=undefined){
                    log("", obj.name);
                    //-- randomMove(object);
                    if (endMove()==false) //-- chua endMove
                        randomMove(obj.name);
                    else{
                        updateCells(obj, obj.left/grid, obj.top/grid);

                    } 

                }
            });

           
            //-- SOUND 
            // var PATH = "sound/default/";
            // var backgroundSound = new sound();
            var questionSound = new sound(CONFIG.soundPath+'question.mp3');
            var unlockSound = new sound(CONFIG.soundPath+'ticktockSlow.wav');
            var placeFitSound = new sound(CONFIG.soundPath+'click.wav');
            // var placeWrongSound = new sound(PATH+'beep.mp3');

            if (CONFIG.sound_level == 1) //-- hurry 
                unlockSound = new sound(CONFIG.soundPath+'ticktock.wav');

            // var rightAnswerSound = new sound();
            // var wrongAnswerSound = new sound();
            //-------------------------------------

            function sound(src) {

                this.sound = document.createElement("audio");
                this.sound.src = src;
                this.sound.setAttribute("preload", "auto");
                this.sound.setAttribute("controls", "none");
                this.sound.style.display = "none";
                document.body.appendChild(this.sound);
                this.play = function(){
                    if (CONFIG.sound==1)
                        this.sound.play();
                }
                this.stop = function(){
                    if (CONFIG.sound==1)
                        this.sound.pause();
                }
            }
