extends layout 

block title
    title #{title} 
block content
    #login-page()
        div(style="margin:0 auto;").row.center-align
            .col.s12.m4.l4.offset-l4.offset-m4
                .card-panel.z-depth-4  
                    div(style="margin:-20px").main-color 
                        a(href="/")
                            img(src='/img/logo_white.png', width="40%", class="responsive-img valign")
                    
                    div(style="margin-bottom:40px;")
                   
                    form(action='/passwordreset', method='post').left-align
                        .row
                            .input-field.col.s12
                                i(class="fa fa-envelope-o prefix")
                                input(type="text", name="email", required).validate
                                label(for="email") Your Email
                            .input-field.col.s12
                                input(type="submit", name="submit", value="Send Email" class="btn orange col s12 animated bounce") 
                        .row        
                            .col.s12
                                a(href='/signup') Signup |   
                                a(href='/login') Login
                          

    script.
        $(document).ready(function(){
            var msg = '#{message}' || "";
            if (msg!="")
                Materialize.toast(msg,3000, 'rounded'); 

        });        